body {
    display: flex;
    align-items: center;
    justify-content: center
}

#calculator {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    height: 800px;
    width: 500px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: grey;
}

#calculator > div {
    border: 2px solid black;
    user-select: none;
}

#result {
    display: flex;
    align-items: center;
    width: 498px; 
    background-color: white;
    color: black;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 10px;
    font-size: 60px
}

.buttons {
    width: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;
}

.buttons:hover {
    background-color: rgb(143, 143, 143)
}

.buttons:active {
    background-color: rgb(102, 102, 102);
}